<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Parkplorer</title>
		<link rel="stylesheet" href="/styles/bootstrap.min.css" />
	</head>
	<body class="d-flex flex-column vh-100">
		<%- include('../partials/navbar') %>
		<main><%- body %></main>
		<%- include('../partials/footer') %>
		<script type="text/javascript" src="/styles/bootstrap.min.js"></script>
	</body>
</html>
