<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Parkplorer</title>
	</head>
	<body>
		<h1>US National Parks, Seashores, and Recreation Areas</h1>
		<ol>
			<% for (park of data) { %>
			<li>
				<a href="/parks/<%= park.parkCode %>"
					><%= park.fullName %> (<%= park.states %>)</a
				>
				- <%= park.designation %>
			</li>
			<% } %>
		</ol>
	</body>
</html>
