<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/main.css" />
		<title>Parkplorer</title>
	</head>

	<body>
		<h1>Welcome to Parkplorer, your national park companion.</h1>
		<a href="/parks">Explore All Parks</a>
		<a href="/explore">Explore By State</a>
	</body>
</html>
