<% layout('layouts/boilerplate') %>

<div class="container my-5">
	<div
		class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div class="col-lg-4 p-3 p-lg-5 pt-lg-3 pe-lg-0">
			<h1 class="display-4 fw-bold lh-1 text-body-emphasis">ParkPlorer</h1>
			<p class="lead">
				Unlock the wonders of America's National Parks with our companion app.
				Connect with the great outdoors. Explore, share, and experience the
				majesty of our parks like never before.
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
				<a
					href="/explore"
					type="button"
					class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
					Explore
				</a>
				<a
					href="/parks"
					type="button"
					class="btn btn-outline-secondary btn-lg px-4">
					All Parks
				</a>
			</div>
		</div>
		<div class="col-lg-7 offset-lg-1 p-0 overflow-hidden shadow-lg">
			<img
				class="rounded-lg-3 opacity-75"
				src="https://www.nps.gov/common/uploads/structured_data/306D0D93-9CCA-76E1-AD48268F8D7A7E3E.jpg"
				alt=""
				width="800" />
		</div>
	</div>
</div>
